body, html {
  margin: 0;
  padding: 0;
  background-color: #200c00;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.orbitron-bold {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  font-size: 1.44rem;
  line-height: 1.1;
  color: rgba(255, 96, 0, 1);
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#logo {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: calc(100% - 108px);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}
